Flask
python-dotenv
langchain
langchain_community
langchain_google_genai
faiss-cpu
requests
tiktoken
bs4
google-api-python-client
Werkzeug
PyJWT
pytz
Flask-SQLAlchemy
Flask-Bcrypt
psycopg2-binary
flask_cors
langchain_openai
pytesseract
pdf2image
flask_restx